*.pyc
CVS
__init__.py
*~
*.root
*.png
*.ps
*.stdout
*.stderr
*.condor
*.so
*.d
\#*\#
*.generated
*.gz
*.history
*.pdf
.project
.cproject
.pydevproject
*.swp
*.log
*.jdl
*/out.*
*/err.*
PostLS1/noiseTest
PostLS1/AsymmetryCheck
PostLS1/SingleMuonGunPooja/condor
PostLS1/SingleMuPlus/muonAnalyzerTask
PostLS1/SingleMuPlus/sources
PostLS1/SingleMuonGunPooja/condorFixedGenDeltaR/results
PostLS1/SingleMuonGunPooja/muonAnalyzerTask
PostLS1/SingleMuonGunPooja/condorFixedGenDeltaR
PostLS1/SingleMuonGunPooja/sources
PostLS1/noiseTestWithPU
PostLS1/SingleMuonGunWithPU/configs
PostLS1/SingleMuonGunWithPU/condor
PostLS1/SingleMuonGunWithPU/sources
PostLS1/SingleMuonGunWithPU/muonAnalyzerTask
*cmsswSourceFiles*
*dcacheFiles*
PostLS1/SingleMuonGunPooja/configs
PostLS1/SingleMuPlus/configs
PostLS1/noBFieldMuPlus/configs
*.gif
PostLS1/collisionData2015/configs
PostLS1/collisionData2015/muonAnalyzerTask
PostLS1/collisionData2015/sources
PostLS1/collisionData2015/crab_projects
PostLS1/collisionData2015/crab_projects
PostLS1/PuSampleValidation/configs
PostLS1/PuSampleValidation/sources
